html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #ccc;
  align-items: center;
}

img {
  display: block;
  width: 100%;
}

section {
  padding: 1rem;
}

body {
  margin: 1.5rem;
}

ul {
  display: flex;
}

li {
  display: flex;
  padding: 1rem;
  width: 16rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  justify-content: center;
}

a {
  background-color: #444;
}
